*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    background-color: rgb(254, 255, 255);
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 280px;
    margin-top: 7px;
    margin-left: 8px;
}

#logo:hover{
    cursor: pointer;
}

nav ul {
    display: flex;
    font-size: large;
    margin-top: 25px;
    gap: 30px;
    font-weight: 700;
    margin-right: 20px;
}

nav ul li a{
    color: rgb(0, 0, 0);
}

nav ul  :hover {
    font-weight: 800;
    margin-top: -3px;
}

#imgBanner {
    display: flex;
    width: 100%;
    height: auto;
}

#bcorridas{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(68, 68, 68);
    width: 80%;
    height: 600px;
}

#botão1{
    width: 400px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    margin: 20px 20px 100px;
    font-size: 40px;
    border: none; 
}

#botão1 :hover{
    background-color: rgb(185, 236, 0);
} 

#bcorridas p{
    color: rgb(0, 0, 0);
}

#bpilotos{
    background-color: rgb(250, 0, 0);
    margin-top: 5px;
}

footer h4{
   text-align: center;
}
